<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite" parallel="false" thread-count="1">

    <listeners>
        <listener class-name="Fusion.TestComponent.Listeners"/>
    </listeners>

    <test name="CreateUserTest">
        <classes>
            <class name="Fusion.tests.AddUsersInOracleFusion">
            </class>
        </classes>
    </test>

    <test name="OICTest">
        <classes>
            <class name="Fusion.tests.ScheduleServicesInOracleFusion">
            </class>
        </classes>
    </test>

        <test name="ActiveUserInServiceNow">
            <classes>
                <class name="Fusion.tests.ServiceNowTestActiveUser">
                </class>
            </classes>
        </test>

    <test name="DeleteUserTest">
        <classes>
            <class name="Fusion.tests.deleteUsersInOracleFusion">
            </class>
        </classes>
    </test>

        <test name="OICTest2">
            <classes>
                <class name="Fusion.tests.ScheduleServicesInOracleFusion">
                </class>
            </classes>
        </test>


    <test name="DeactivateUserInServiceNow">
        <classes>
            <class name="Fusion.tests.ServiceNowTestInactiveUser">
            </class>
        </classes>
    </test>

</suite>