<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite" parallel="false" thread-count="1">

    <listeners>
        <listener class-name="Fusion.TestComponent.Listeners"/>
    </listeners>

    <test name="P2P">
        <classes>
            <class name="Fusion.tests.ProcureToPay_Appium">
            </class>
        </classes>
    </test>

<!--    <test name="P2P">-->
<!--        <classes>-->
<!--            <class name="Fusion.tests.ProcureToPay">-->
<!--            </class>-->
<!--        </classes>-->
<!--    </test>-->

<!--    <test name="CreateManualInvoiceWithPayment">-->
<!--        <parameter name="browser" value="chrome"/>-->
<!--        <classes>-->
<!--            <class name="Fusion.tests.CreatingManualInvoiceWithPayment">-->
<!--            </class>-->
<!--        </classes>-->
<!--    </test>-->

<!--    <test name="Msd">-->
<!--        <classes>-->
<!--            <class name="Fusion.tests.MSD">-->
<!--            </class>-->
<!--        </classes>-->
<!--    </test>-->
</suite>